.visits{
    bottom: 0;
}

#rightContent{
    min-height: 100vh;

}
/* 
.aboutMe{
    min-height:50%;
}

.experience{
    min-height:40%;
}


.education{
    min-height:40%;
}

.projects{
    min-height:30%;
}

.skills{
    min-height:40%;
}

.certifications{
    min-height: 40%;
}

.blog{
    min-height: 40%;
} */

