/* body{
    background-color: #F1FAEE;

} */
 .card{
    /* background-color:#2EC4B6 ; */
    padding: 1rem;
    /* width: 100%; */
    /* text-align: center; */
    color: whitesmoke;
    /* background-color: whitesmoke; */
    box-shadow: 0 5px 5px;


    
}

li{
    color:black;
}

h4{
    color:black;
}
h5{
    color:black;
}
h6{
    color:black;
}
label{
    color:black;
}



.card-body{
    /* background-color: #CBF3F0; */
    /* background-color: whitesmoke; */
}

.fa-github-square{
    color: #495057;

}
.fa-github-square:hover{
    color: black;
}
.visits{
    bottom: 0;
}
.myfooter{
    bottom: 0;
}

/* #rightContent{
    min-height: 100vh;
    background-color: #457B9D;

}

#leftNav{
    max-height: 100%;
    bottom: 0;
    background-color: #E63946;
} */
/* 
.aboutMe{
    min-height:50%;
}

.experience{
    min-height:40%;
}


.education{
    min-height:40%;
}

.projects{
    min-height:30%;
}

.skills{
    min-height:40%;
}

.certifications{
    min-height: 40%;
}

.blog{
    min-height: 40%;
} */

